
Code/nigeria2.R
Data/Nigeria/nga_pop_adm2_2016.csv
Data/Nigeria/nigeria_acled.csv
MDI/.RData
MDI/.Rhistory
MDI/app.R
MDI/Code/animated.R
MDI/Code/Flow_extra.R
MDI/Code/Flow_to_shiny.R
MDI/Code/Hosts.R
MDI/Code/InternalMaps.R
MDI/Code/Mapping/app.R
MDI/Code/Mapping/burundi_map.R
MDI/Code/Mapping/Nigeria/nigeria_map.R
MDI/Code/Mapping/priority_flow_long.csv
MDI/Code/Mapping/rsconnect/shinyapps.io/pconnorkelly/Mapping.dcf
MDI/Code/Mapping/unhcr_cepii.R
MDI/Code/UNHCRDemographics.R
MDI/Code/UNHCRFlow.R
MDI/Data/API_NY.GDP.MKTP.CD_DS2_en_excel_v2_1740133.xls
MDI/Data/API_NY.GDP.PCAP.CD_DS2_en_excel_v2_1836202.xls
MDI/Data/API_NY.GDP.PCAP.PP.KD_DS2_en_excel_v2_1740674.xls
MDI/Data/dist_cepii.dta
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp.zip
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm0_igebu_ocha_itos_20171103.CPG
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm0_igebu_ocha_itos_20171103.dbf
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm0_igebu_ocha_itos_20171103.prj
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm0_igebu_ocha_itos_20171103.shp
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm0_igebu_ocha_itos_20171103.shp.xml
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm0_igebu_ocha_itos_20171103.shx
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm1_igebu_ocha_20171103.cpg
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm1_igebu_ocha_20171103.dbf
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm1_igebu_ocha_20171103.prj
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm1_igebu_ocha_20171103.shp
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm1_igebu_ocha_20171103.shp.xml
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm1_igebu_ocha_20171103.shx
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm2_igebu_ocha_20171103.cpg
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm2_igebu_ocha_20171103.dbf
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm2_igebu_ocha_20171103.prj
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm2_igebu_ocha_20171103.shp
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm2_igebu_ocha_20171103.shp.xml
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbnda_adm2_igebu_ocha_20171103.shx
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbndl_admALL_igebu_ocha_itos_20171103.cpg
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbndl_admALL_igebu_ocha_itos_20171103.dbf
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbndl_admALL_igebu_ocha_itos_20171103.prj
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbndl_admALL_igebu_ocha_itos_20171103.shp
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbndl_admALL_igebu_ocha_itos_20171103.shp.xml
MDI/Data/IOM DTM/bdi_adm_igebu_ocha_20171103_shp/bdi_admbndl_admALL_igebu_ocha_itos_20171103.shx
MDI/Data/IOM DTM/burundi.csv
MDI/Data/IOM DTM/chad.csv
MDI/Data/IOM DTM/iraq.csv
MDI/Data/IOM DTM/libya.csv
MDI/Data/IOM DTM/mali.csv
MDI/Data/IOM DTM/nigeria.csv
MDI/Data/IOM DTM/southsudan.csv
MDI/Data/IOM DTM/sudan.csv
MDI/Data/new_ref_arrival_new_asy_app_1962_2019.xlsx
MDI/Data/nga_adm_osgof_20190417.zip
MDI/Data/nga_adm_osgof_20190417/NGA COD-AB 2019_04_23.pdf
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm0_osgof_20190417.cpg
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm0_osgof_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm0_osgof_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm0_osgof_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm0_osgof_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm0_osgof_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm0_osgof_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm0_osgof_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm1_osgof_20190417.cpg
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm1_osgof_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm1_osgof_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm1_osgof_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm1_osgof_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm1_osgof_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm1_osgof_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm1_osgof_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm2_osgof_20190417.CPG
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm2_osgof_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm2_osgof_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm2_osgof_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm2_osgof_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm2_osgof_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm2_osgof_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm2_osgof_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm3_osgof_eha_20190417.CPG
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm3_osgof_eha_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm3_osgof_eha_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm3_osgof_eha_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm3_osgof_eha_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm3_osgof_eha_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm3_osgof_eha_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_adm3_osgof_eha_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_senDist_inec_osgof_20190417.CPG
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_senDist_inec_osgof_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_senDist_inec_osgof_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_senDist_inec_osgof_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_senDist_inec_osgof_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_senDist_inec_osgof_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_senDist_inec_osgof_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbnda_senDist_inec_osgof_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_admALL_osgof_eha_itos_20190417.cpg
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_admALL_osgof_eha_itos_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_admALL_osgof_eha_itos_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_admALL_osgof_eha_itos_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_admALL_osgof_eha_itos_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_admALL_osgof_eha_itos_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_admALL_osgof_eha_itos_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_admALL_osgof_eha_itos_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_senDist_inec_osgof_itos_20190417.CPG
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_senDist_inec_osgof_itos_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_senDist_inec_osgof_itos_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_senDist_inec_osgof_itos_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_senDist_inec_osgof_itos_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_senDist_inec_osgof_itos_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_senDist_inec_osgof_itos_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbndl_senDist_inec_osgof_itos_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_admALL_osgof_eha_itos_20190417.CPG
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_admALL_osgof_eha_itos_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_admALL_osgof_eha_itos_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_admALL_osgof_eha_itos_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_admALL_osgof_eha_itos_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_admALL_osgof_eha_itos_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_admALL_osgof_eha_itos_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_admALL_osgof_eha_itos_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_senDist_inec_osgof_itos_20190417.CPG
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_senDist_inec_osgof_itos_20190417.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_senDist_inec_osgof_itos_20190417.prj
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_senDist_inec_osgof_itos_20190417.sbn
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_senDist_inec_osgof_itos_20190417.sbx
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_senDist_inec_osgof_itos_20190417.shp
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_senDist_inec_osgof_itos_20190417.shp.xml
MDI/Data/nga_adm_osgof_20190417/nga_admbndp_senDist_inec_osgof_itos_20190417.shx
MDI/Data/nga_adm_osgof_20190417/nga_admbndt_adminUnitLookup.cpg
MDI/Data/nga_adm_osgof_20190417/nga_admbndt_adminUnitLookup.dbf
MDI/Data/nga_adm_osgof_20190417/nga_admbndt_adminUnitLookup.dbf.xml
MDI/Data/Nigeria/round10.xlsx
MDI/Data/Nigeria/round11.xlsx
MDI/Data/Nigeria/round12.xlsx
MDI/Data/Nigeria/round13.xlsx
MDI/Data/Nigeria/round14.xlsx
MDI/Data/Nigeria/round15.xlsx
MDI/Data/Nigeria/round16.xlsx
MDI/Data/Nigeria/round17.xlsx
MDI/Data/Nigeria/round18.xlsx
MDI/Data/Nigeria/round19.xlsx
MDI/Data/Nigeria/round2.xls
MDI/Data/Nigeria/round20.xlsx
MDI/Data/Nigeria/round21.xlsx
MDI/Data/Nigeria/round22.xlsx
MDI/Data/Nigeria/round23.xlsx
MDI/Data/Nigeria/round24.xlsx
MDI/Data/Nigeria/round25.xlsx
MDI/Data/Nigeria/round26.xlsx
MDI/Data/Nigeria/round27.xlsx
MDI/Data/Nigeria/round28.xlsx
MDI/Data/Nigeria/round3.xls
MDI/Data/Nigeria/round4.xlsx
MDI/Data/Nigeria/round5.xlsx
MDI/Data/Nigeria/round6.xlsx
MDI/Data/Nigeria/round7.xlsx
MDI/Data/Nigeria/round8.xlsx
MDI/Data/Nigeria/round9.xlsx
MDI/Data/Notes on CEPII's distance measures.pdf
MDI/Data/priority_flow.csv
MDI/Data/priority_flow_long.csv
MDI/Data/PTS-2020.csv
MDI/Data/unhcr_demographics_children.csv
MDI/Data/unhcr_popstats_export_demographics_all_data.csv
MDI/index.html
MDI/Markdown Files/.Rhistory
MDI/Markdown Files/index.Rmd
MDI/Markdown Files/UNHCRDemographics.html
MDI/Markdown Files/UNHCRDemographics.Rmd
MDI/Markdown Files/UNHCRFlow.html
MDI/Markdown Files/UNHCRFlow.Rmd
MDI/readme.md
MDI/rsconnect/shinyapps.io/pconnorkelly/UNHCRFlow.dcf
